[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple"
verify_ssl = true

[dev-packages]

[packages]
tensorflow = "==1.12.0"
django = "*"
psycopg2-binary = "*"
django-cors-headers = "*"
pyhocon = "*"
uwsgi = "*"
djangorestframework = "*"
django-celery-results = "*"
redis = "*"

[requires]
python_version = "3.6"
